// Font
$mainFont: CeraRoundPro, Calibri, Segoe, 'Segoe UI', Arial, sans-serif;

// Size
$mainFontColor: #60759d;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.5;

$blockTitleFontSize: 36px;

$secondaryFontColor: #cbe2fb;

$lightFontColor: #fdfffc;

$containerGutter: 15px;
$containerWidth: 1160px + $containerGutter * 2;

//btn
